/* common tags styles */

body {
 background: #fff;
 color: #000;
 margin: 0;
 font-size: 9px;
}

body, .button, .tbox, .helpbox {
 font-family: Sans, Verdana, Arial, Helvetica, sans-serif;
}

a:link, a:visited {text-decoration: none;}
a:active, a:hover {text-decoration: underline;}
a:link {color: #00248f;}
a:visited {color: #909;}
a:hover {color: #39f;}

img {
 border: 0;
}

.smalltext, div.indent {
 font-size: 9px;
}


/* general layout stuff */

#header {
 background: #000;
 width: 100%;
 border: 0;
 margin: 0;
 padding: 0;
 margin-bottom: 20px;
}

#logo {
 text-align: left;
}

#container {
 width: 760px;
 padding: 0;
 margin: 0;
 margin-left: auto;
 margin-right: auto;
}

#content, #sidebar, #footer {
 padding: 5px;
}

.left, div[style="text-align:left"] {
 float: left;
}

.right, div[style="text-align:right"] {
 float: right;
}

div.spacer {
 clear: both;
}


/* tabs styles */

#tabnav {
 margin: 0;
 padding: 0 0 30px 30px;
 border-top: 1px solid #fff;
 background: #000;
}

#tabnav li {
 margin: 0;
 padding: 0;
 display: inline;
 list-style-type: none;
}

#tabnav a {
  margin-right: 10px;
  margin-left: 10px;
}

#tabnav a:link, #tabnav a:visited {
 float: left;
 font-size: 11px;
 font-weight: bold;
 text-decoration: none;
 color: #999;
 margin-top: 6px;
}

#tabnav li.active a:link, #tabnav li.active a:visited, #tabnav a:hover {
 border-top: 3px solid #fff;
 padding-top: 3px;
 margin-top: 0;
}

#tabnav a:hover {
 color: #fff;
}


/* content styles */

#content {
 margin-right: 200px;
 font-size: 12px;
}

#content .box-border {
 margin-bottom: 50px;
}

#content .box-body {
 padding: 10px;
}

#content .box-body [style="text-align:left"] {
 margin: 10px 10px 10px 0;
}

#content .box-body [style="text-align:right"] {
 margin: 10px 0 10px 10px;
}

#content .box-body .indent {
 /* blockote e107 tags */
 background: #eee;
 color: #000;
 margin: 10px;
 padding: 10px;
 border: 1px solid #ccc;
}

/*#content a {
 text-decoration: none;
 white-space: nowrap;
 padding-bottom: 2px;
}

#content a:hover {
 background: url(images/diagonal.gif) repeat-x 100% 100%;
}*/


/* news styles */

.news-details {
 padding-top: 14px;
 font-size: 10px;
}

.news-details, .news-details a {
 color: #999;
}

.news-details a:hover {
 color: #333;
}


/* sidebar styles */

#sidebar {
 float: right;
 width: 170px;
 font-size: 10px;
}

#sidebar #boxed {
 border: 1px dotted #999;
 background-color: #eee;
}

#sidebar > div {
 padding: 6px;
}


/* footer styles */

#footer {
 clear: both;
 text-align: center;
 background: #ccc url(images/shadow.png) repeat-x scroll top;
 border-top: 1px solid #666;
}

#footer .left {
 text-align: left;
}

#footer .right {
 text-align: right;
}

#footer, #footer a {
 color: #666;
}


/* box styles */

.box-border {
 margin-bottom: 10px;
}

.box-caption {
 padding-left: 5px;
 margin-bottom: 5px;
}

#content .box-caption {
 font-weight: bold;
 background: #000 url(images/leopardfur.png) no-repeat scroll top;
 border: 1px solid #333;
 padding: 3px 5px;
 margin: 0;
 color: #fff;
}

#content .box-caption > h1 {
 color: #fff;
 font-size: 12px;
 padding: 0;
 margin: 0;
}

#sidebar .box-caption {
 border-bottom: #000 1px solid;
}

#footer .box-caption {
 border-bottom: #666 1px dotted;
}


/* form element styles */

.tbox, .button {
 background-color: #fff;
 background-repeat: repeat-x;
 border: 1px solid #666;
 font-size: 10px;
}

.helpbox {
 background-color: transparent;
 border: 0;
 font-size: 9px;
}

.tbox, .button, .helpbox {
 margin-bottom: 1px;
}

.tbox {
 background-image: url(images/field.png);
 background-position: top;
 padding: 1px;
}

.button, select.tbox {
 padding: 0;
}

.button {
 background-image: url(images/button.png);
 background-position: bottom;
}


/* forum styles */

.forumheader {
 text-align: center;
 padding: 3px;
 margin-top: 30px; /* why doesn't work ??? -> appliquer ça au tr dont le td a une classe forumheader */
}

.forumheader2, .forumheader3 {
 padding: 2px;
 text-align: left;
}

.forumheader, .forumheader3 {
 vertical-align: top;
}

.forumheader {
 background-color: #d9bb77;
 border: 1px solid #988353;
}

.forumheader3 {
 background-color: #ffedc5;
 border: 1px solid #d9bb77;
}

.forumheader2 {
 background-color: #fff7e6;
 border: 1px solid #ffedc5;
 vertical-align: middle;
}