/* common tags styles */

body {
 background: #fff;
 color: #000;
 margin: 0;
 font-size: 9px;
}

body, .button, .tbox, .helpbox {
 font-family: Sans, Verdana, Arial, Helvetica, sans-serif;
}

a:link, a:visited {text-decoration: none;}
a:active, a:hover {text-decoration: underline;}
a:link {color: #00248f;}
a:visited {color: #909;}
a:hover {color: #39f;}

img {
 border: 0;
}

.smalltext, div.indent {
 font-size: 9px;
}


/* general layout stuff */

#header {
 display: table;
 background: #000;
 width: 100%;
 border: 0;
 margin: 0;
 padding: 0;
 padding-bottom: 10px;
}

#logo {
 text-align: left;
}

#main {
 padding: 0;
 background-image : url(images/leopardfur.png);
 background-position: right;
 background-repeat: repeat-y;
 float: right;
 width: 100%
}

.left, div[style="text-align:left"] {
 float: left;
}

.right, div[style="text-align:right"] {
 float: right;
}

div.clearall {
 clear: both;
}


/* tabs styles */

#tabnav {
 padding: 0;
 margin: 0;
 background-color: #000;
 color: #000;
 float: left;
 width: 100%;
 border: 0;
 border-top: 2px solid #fff;
}

#tabnav li {
 display: inline;
}

#tabnav li a {
 background-color: #000;
 padding: 5px 10px;
 font-weight: bold;
 text-decoration: none;
 font-size: 11px;
 float: left;
 color: #666;
 border-color: #666;
 border-style: none dotted solid none;
 border-width: 0 1px 1px 0;
}

#tabnav li a:hover {
 background-color: #333;
 color: #fff;
 border-color: #666;
 border-style: none dotted solid none;
 border-width: 0 1px 1px 0;
}


/* content styles */

#content {
 font-size: 12px;
 margin: 0 210px 0 auto; /* right margin = sidebar width + sidebar padding */
 padding-top: 30px;
 padding-right: 5%;
 padding-left: 5%;
 padding-bottom: 30px;
}

#content .box-border {
 margin-bottom: 50px;
}

#content .box-caption {
 font-weight: bold;
 /*background: #000 url(images/leopardfur.png) no-repeat scroll top;*/
 background: #ccc;
 border: 1px solid #999;
 padding: 3px 5px;
 margin: 0;
 -moz-border-radius: 14px;
}

#content .box-caption > h1 {
 color: #000;
 font-size: 12px;
 padding: 0;
 margin: 0;
}

#content .box-body {
 padding: 10px;
 text-align: justify;
}

#content .box-body [style="text-align:left"] {
 margin: 10px 10px 10px 0;
}

#content .box-body [style="text-align:right"] {
 margin: 10px 0 10px 10px;
}

#content .indent {
 /* blockote e107 tags */
 background: #eee;
 color: #000;
 margin: 10px;
 padding: 10px;
 border: 1px solid #ccc;
}

/*#content a {
 text-decoration: none;
 white-space: nowrap;
 padding-bottom: 2px;
}

#content a:hover {
 background: url(images/diagonal.gif) repeat-x 100% 100%;
}*/


/* news styles */

.news-details {
 padding-top: 14px;
 font-size: 10px;
}

.news-details, .news-details a {
 color: #999;
}

.news-details a:hover {
 color: #333;
}


/* sidebar styles */

#sidebar {
 font-size: 10px;
 float: right;
 width: 190px;
 padding: 20px 20px 0 0;
}

#sidebar #boxed {
 border: 1px solid #999;
 background-color: #eee;
 -moz-border-radius: 10px;
}

#sidebar > div {
 padding: 6px 0;
}

#sidebar .box-border {
 margin-bottom: 10px;
}

#sidebar .box-caption {
 background: #999;
 font-weight: bold;
 padding: 2px 6px;
}

#sidebar .box-body {
 padding: 6px;
}


/* quote style*/

#quote {
 z-index: 1;
 font: italic bold 12px cursive;
 text-align: justify;
 line-height: 1.5em;
 margin: 2px;
 padding: 12px; /* 2px = 12px - moz-border-radius*/
 position: relative;
}

#quote > p.author {
 font: italic normal 9px cursive;
 text-align: right;
}

#quote > span {
 font-size: 54px;
 color: #ddd;
 position: absolute;
 line-height: 0.6em;
}

#quote .start {
 z-index: -1;
 top: 0;
 left: 0;
}

#quote .stop {
 z-index: -1;
 bottom: 0;
 right: 0;
}


/* footer styles */

#footer {
 clear: both;
 text-align: center;
 background: #ccc url(images/shadow.png) repeat-x scroll top;
 border-top: 1px solid #666;
 padding: 5px;
}

#footer .box-caption {
 border-bottom: #666 1px dotted;
 padding-left: 5px;
 margin-bottom: 5px;
}

#footer .left {
 text-align: left;
}

#footer .right {
 text-align: right;
}

#footer, #footer a {
 color: #666;
}


/* form element styles */

.tbox, .button {
 background-color: #fff;
 background-repeat: repeat-x;
 border: 1px solid #666;
 font-size: 10px;
}

.helpbox {
 background-color: transparent;
 border: 0;
 font-size: 9px;
}

.tbox, .button, .helpbox {
 margin-bottom: 1px;
}

.tbox {
 background-image: url(images/field.png);
 background-position: top;
 padding: 1px;
}

.button, select.tbox {
 padding: 0;
}

.button {
 background-image: url(images/button.png);
 background-position: bottom;
}


/* forum styles */

.forumheader {
 text-align: center;
 padding: 3px;
 margin-top: 30px; /* why doesn't work ??? -> appliquer ça au tr dont le td a une classe forumheader */
}

.forumheader2, .forumheader3 {
 padding: 2px;
 text-align: left;
}

.forumheader, .forumheader3 {
 vertical-align: top;
}

.forumheader {
 background-color: #d9bb77;
 border: 1px solid #988353;
}

.forumheader3 {
 background-color: #ffedc5;
 border: 1px solid #d9bb77;
}

.forumheader2 {
 background-color: #fff7e6;
 border: 1px solid #ffedc5;
 vertical-align: middle;
}