@charset "iso-8859-1";

/* based on http://webhost.bridgew.edu/etribou/layouts/skidoo_too/index.html
 */

* {
 padding: 0;
 margin: 0;
}



/* layout */

html[xmlns] .mozclear {
 border-bottom: 1px solid;
 border-color: transparent;
 margin-bottom: -1px;
}

#pageWrapper {
 min-width: 40em;
 width: auto;
}

#outerColumnContainer {
 border-left: solid 14em #fff;
 border-right: solid 14em #fff;
}

#innerColumnContainer {
 border: solid 1px #fff;
 border-width: 0 1px;
 margin: 0 -1px;
 width: 100%;
 z-index: 1;
}

#leftColumn, #middleColumn, #rightColumn, * html #SOWrap {
 overflow: visible;
 position: relative;
}

#SOWrap {
 float: left;
 margin: 0 -1px 0 0;
 width: 100%;
 z-index: 3;
}

#middleColumn {
 float: right;
 margin: 0 0 0 -1px;
 width: 100%;
 z-index: 5;
}

#leftColumn {
 float: left;
 margin: 0 1px 0 -14em;
 width: 14em;
 z-index: 4;
}

#rightColumn {
 float: right;
 width: 14em;
 margin: 0 -14em 0 1px;
 z-index: 2;
}


/* general layout stuff */

body {
 background: #fff;
 color: #000;
 font-size: 100%;
}

body, .button, .tbox, .helpbox {
 font-family: Sans, Verdana, Arial, Helvetica, sans-serif;
}

a:link, a:visited {text-decoration: none;}
a:active, a:hover {text-decoration: underline;}
a:link {color: #00248f;}
a:visited {color: #909;}
a:hover {color: #39f;}

img {
 border: 0;
}

h1 {
 margin: 14px 0;
 font-size: 160%;
 padding: 0;
}

.smalltext, div.indent {
 font-size: 100%;
}

#pageWrapper {
 font-size: 80%;
}


/* general layout stuff */

#header {
 background: #000;
 width: 100%;
}

#cool_cavemen_logo {
 vertical-align: top;
}

#ofon_logo {
 position: absolute;
 top: 10px;
 right: 10px;
}

.left, div[style="text-align:left"] {
 float: left;
}

.right, div[style="text-align:right"] {
 float: right;
}

.clearall {
 clear: both;
}

.hide {
 display: none;
}

.code, code {
 font-family: "Courier New", Courier, monospace;
}



/* tabs styles */

#tabnav {
 background: #bbb url(images/shadow.png) repeat-x scroll top;
 float: left;
 width: 100%;
 margin: 0;
 font-weight: bold;
 border-top: 2px solid #fff;
 border-bottom: 2px solid #333;
 font-size: 70%;
}

#tabnav li {
 display: inline;
}

#tabnav li a, #tabnav li a:hover {
 border-color: #333;
 border-style: none dotted none none;
 border-width: 0 1px 0 0;
}

#tabnav li a {
 color: #333;
 padding: 5px 10px;
 text-decoration: none;
 float: left;
}

#tabnav li a:hover {
 background: #ddd url(images/hard-shadow.png) repeat-x scroll top;
 color: #000;
}



/* quote style*/

#quote {
 z-index: 1;
 font: italic bold cursive;
 text-align: justify;
 line-height: 1.5em;
 margin: 12px;
 position: relative;
}

#quote > p.author {
 font: italic normal cursive;
 text-align: right;
}

#quote > span {
 color: #ddd;
 position: absolute;
 line-height: 0.6em;
}

#quote .start {
 z-index: -1;
 top: 0;
 left: 0;
}

#quote .stop {
 z-index: -1;
 bottom: 0;
 right: 0;
}



/* left and right column style */

#rightColumn .inside, #leftColumn .inside {
 font-size: 90%;
}

#rightColumn .inside, #leftColumn .inside {
 color: #666;
}

#rightColumn .inside h1, #leftColumn .inside h1 {
 background-color: #ccc;
 font-size: 100%;
 text-align: center;
 padding: 3px;
}

#rightColumn .inside a:link, #leftColumn .inside a:link {
 color: #39f;
}

#rightColumn .inside a:visited, #leftColumn .inside a:visited {
 color: #c0c;
}



/* left column styles */

#innerColumnContainer {
 border-color: #999;
}

#outerColumnContainer {
 border-left-color: #eee;
}



/* right column styles */
/*
#outerColumnContainer {
 border-color: #eee;
}

#outerColumnContainer {
 border-right-color: #999;
}*/



/* content styles */

#middleColumn .box-border {
 margin-bottom: 30px;
}

#middleColumn h1 {
 color: #ff7d00;
 font-style: italic;
 font-weight: bold;
 padding: 10px;
 border-width: 1px 0;
 border-style: dashed;
 border-color: #999;
}

#middleColumn .box-body {
 padding: 10px;
 text-align: justify;
}

#middleColumn .box-body > .details, #middleColumn .box-body > .details > a {
 color: #999;
}

#middleColumn .box-body > .details > a:hover {
 color: #333;
}

#middleColumn .box-body [style="text-align:left"] {
 margin: 10px 10px 10px 0;
}

#middleColumn .box-body [style="text-align:right"] {
 margin: 10px 0 10px 10px;
}

#middleColumn .indent {
 /* blockote e107 tags */
 background: #eee;
 color: #000;
 margin: 10px;
 padding: 10px;
 border: 1px solid #ccc;
}

/*#content a {
 text-decoration: none;
 white-space: nowrap;
 padding-bottom: 2px;
}

#content a:hover {
 background: url(images/diagonal.gif) repeat-x 100% 100%;
}*/



/* footer styles */

#footer {
 clear: both;
 text-align: center;
 background: #ccc url(images/shadow.png) repeat-x scroll top;
 border-top: 2px solid #999;
 padding: 5px;
 z-index: 3;
}

#footer h1 {
 border-bottom: #666 1px dotted;
 padding-left: 5px;
 margin-bottom: 5px;
}

#footer .left {
 text-align: left;
}

#footer .right {
 text-align: right;
}

#footer, #footer a {
 color: #666;
}



/* form element styles */

.tbox, .button {
 background-color: #fff;
 background-repeat: repeat-x;
 border: 1px solid #666;
}

.helpbox {
 background-color: transparent;
 border: 0;
}

.tbox, .button, .helpbox {
 margin-bottom: 1px;
}

.tbox {
 background-image: url(images/field.png);
 background-position: top;
 padding: 1px;
}

.button {
 background-image: url(images/button.png);
 background-position: bottom;
}



/* forum styles */

.forumheader {
 text-align: center;
 padding: 3px;
 margin-top: 30px; /* why doesn't work ??? -> appliquer ça au tr dont le td a une classe forumheader */
}

.forumheader2, .forumheader3 {
 padding: 2px;
 text-align: left;
}

.forumheader, .forumheader3 {
 vertical-align: top;
}

.forumheader {
 background-color: #d9bb77;
 border: 1px solid #988353;
}

.forumheader3 {
 background-color: #ffedc5;
 border: 1px solid #d9bb77;
}

.forumheader2 {
 background-color: #fff7e6;
 border: 1px solid #ffedc5;
 vertical-align: middle;
}